body {
    display: flex;
    flex-direction: column;
    background-color: #A8DBA8;
}

.score {
    display: flex;
    width: 50px;
}

.button{
    background: #0B486B;
    padding-left: 36px;
    padding-right: 36px;
    color:#e5e7eb;
    font-size: 18px;
    border-style: none;
    border-radius: 10px;
}

.result {
    display: flex;
    justify-content: center;
    flex-direction: column;
}